asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
cryptography==2.1.4
dj-database-url==0.5.0
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
graphics.py==5.0.1.post1
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
ItsDangerous==1.0.0
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
pycrypto==2.6.1
pygobject==3.26.1
pytest==3.9.2
pyxdg==0.25
scandir==1.9.0
SecretStorage==2.3.1
six==1.11.0
virtualenv==16.0.0
Werkzeug==0.14.1
whitenoise==4.1
psycopg2==2.6.2
